body
{
    font-family:helvetica, arial, sans-serif;
    font-size:11px;
    color:#000;

}

#t3rseLogo
{
    width:100px;
    position:absolute;
    display:none;
    top:0;
    left:0;     
}
#quigleyHeader
{
    text-align:center;
    font-size:3.8em;    
}
#quigleyExplainer
{
    border-bottom:1px dotted #cccccc;
    text-align:center;
    color:#333;
    height:25px;
}
#contain
{
    width:90%;
    margin-left:auto;
    margin-right:auto;                
    background-color:#ffffff;
}
#currentTabs
{
    padding-bottom:0px;   
    display:inline-block;    
    vertical-align:bottom; 
}
#saveTabButton, #removeTabButton
{
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
    background: linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

    padding:4px;    
    color:#CCC;
    cursor:pointer;    
}
hr
{
    height:1px;
    color:#f7f7f7;
}
.docSpan
{
    background-color:#f7f7f7;
    padding:5px;    
    display:inline-block;    
    cursor:pointer;
    margin-left:5px;
    vertical-align:bottom;
    border:0px;
}
        
.selectedDoc
{
    background-color:Orange;    
    border-top:6px solid #FFC46B;
}

#editorContainerDiv
{
    border-top:5px solid orange;    
}

#log
{
    margin-top:10px;
    text-align:center;
    color:#CC0000;    
    margin-bottom:10px;
}

#myNotes
{
    height:100%;
    width:100%;
}

#githubLink
{
    color:Blue;    
}