<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.UI.Combined" version="1.8.20" />
  <package id="Modernizr" version="2.5.3" />
  <package id="TinyMCE" version="3.5.4" />
  <package id="jQuery.Templates" version="0.1" />
</packages>